@model List<Product>

@foreach (Product product in Model)
{
    <div class="product-item mb-50">
        <div class="product-thumb">
            <a asp-controller="product" asp-action="index" asp-route-id="@product.Id">
                <img src="~/assets/img/product/@product.Image" alt="">
            </a>
        </div>
        <div class="product-content"  style="background:white;">
            <h5 class="product-name">
                <a href="product-details.html">@product.Name</a>
            </h5>
            <div class="price-box">
                <span class="price-regular">$@product.Price</span>
                <span class="price-old"><del>$@product.DiscountPrice</del></span><br />
            </div>
        </div>
    </div>
}