
<form id="searchForm" asp-action="SearchInput" asp-controller="home" method="post" enctype="multipart/form-data" class="d-flex bdr-bottom w-100 mb-20">
    <input type="text" id="searchBtn" placeholder="Search entire storage here...">
    <button class="search-btn" ><i class="ion-ios-search-strong"></i>search</button>
</form>